.Suggestion:hover {
  opacity: 0.85;
}

.close {
  font-size: 1.2rem;
  opacity: 0.65;
}

.close:hover {
  opacity: 1;
}

.next {
  margin-left: 0.4rem;
  margin-right: 0.75rem;
}

.prev:hover {
  background-color: rgba(128, 128, 128, 0.3);
}

.next:hover {
  background-color: rgba(128, 128, 128, 0.3);
}

.suggest-add:hover {
  box-shadow: 2px 2px 10px gray;
}

.top-bar span {
  opacity: 0.75;
}

.top-bar span:hover {
  opacity: 1;
}
