.Suggestion:hover {
  opacity: 0.85;
}

.close {
  opacity: 0.55;
}

.close:hover {
  opacity: 1;
}

.next {
  margin-left: 0.4rem;
  margin-right: 0.75rem;
}

.prev:hover {
  background-color: rgba(128, 128, 128, 0.3);
}

.next:hover {
  background-color: rgba(128, 128, 128, 0.3);
}

.suggest-add:hover {
  box-shadow: 2px 2px 10px gray;
}

.top-bar span {
  opacity: 0.55;
}

.top-bar span:hover {
  opacity: 1;
}

.react-draggable {
  cursor: default !important;
}

.disabled {
  cursor: not-allowed !important;
  opacity: 0.55 !important;
}

.disabled:hover {
  box-shadow: none;
}
