.text-editor {
  background-color: #fff;
  padding: 1rem;
  height: 100%;
}

.LEFT_ALIGN .public-DraftStyleDefault-block {
  text-align: left;
}

.CENTER_ALIGN .public-DraftStyleDefault-block {
  text-align: center;
}

.RIGHT_ALIGN .public-DraftStyleDefault-block {
  text-align: right;
}

.JUSTIFY .public-DraftStyleDefault-block {
  text-align: justify;
}
