.navbar {
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
  height: 9rem;
  margin-bottom: 1rem;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
}

.logo {
  cursor: pointer;
}

.logo img {
  height: 2rem;
  width: 2rem;
  border-radius: 0.2rem;
  margin: 0.35rem 0.35rem 0.35rem 0.35rem;
  transition: transform 0.25s ease-in-out 0.1s;
}

.logo img:hover {
  transform: scale(1.01, 1.01);
  box-shadow: 2px 2px 10px gray;
}
