.navbar {
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
  height: 10.5rem;
  margin-bottom: 1rem;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  padding-top: 0.2rem;
}

.label {
  display: flex;
  justify-content: space-between;
}

.label .doc, .label .profile-info {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

.label .doc input {
  height: 1.75rem;
}

.label .doc img {
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  border-radius: 0.2rem;
  margin: 0.35rem 0.35rem 0.35rem 0.35rem;
  transition: transform 0.25s ease-in-out 0.1s;
}

.label .doc img:hover {
  transform: scale(1.01, 1.01);
  box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.7);
}

.label .profile-info .GEMINI {
  transition: transform 0.8s ease-in-out 0.2s;
  background-color: white;
}

.label .profile-info .GEMINI:hover {
  transform: rotate(180deg);
}

.label .profile-info .profile-pic:hover {
  box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.7);
}
