.public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  border-left: 3px solid #fa0101;
  border-right: 3px solid #ff0000;
  font-size: 14px;
  line-height: 1.5;
  padding: 10px 12px;
  margin: 12px 0;
  border-radius: 4px;
  white-space: pre-wrap;
  font-family: "Inconsolata", "Menlo", "Consolas", monospace;
  word-break: break-word;
  color: #333;
}

blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: "Hoefler Text", "Georgia", serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.DD {
  background-color: #acacac;
  border-radius: 0.25rem;
}
.DraftEditor-root {
  margin-top: 9.75rem;
}
