.text-editor {
  background-color: #fff;
  padding: 1rem;
  height: 100%;
  padding-top: 2.5rem;
}

.LEFT_ALIGN .public-DraftStyleDefault-block {
  text-align: left;
}

.CENTER_ALIGN .public-DraftStyleDefault-block {
  text-align: center;
}

.RIGHT_ALIGN .public-DraftStyleDefault-block {
  text-align: right;
}

.JUSTIFY .public-DraftStyleDefault-block {
  text-align: justify;
}

.DD button:hover,
.DD label:hover {
  background-color: rgb(220, 220, 220) !important;
}

.DraftEditor-root {
  width: 100%;
}

.indent-0 {
  padding-left: 0px;
}
.indent-1 {
  padding-left: 20px;
}
.indent-2 {
  padding-left: 40px;
}
.indent-3 {
  padding-left: 60px;
}
.indent-4 {
  padding-left: 80px;
}
.indent-5 {
  padding-left: 100px;
}
.indent-6 {
  padding-left: 120px;
}
.indent-7 {
  padding-left: 140px;
}
.indent-8 {
  padding-left: 160px;
}
.indent-9 {
  padding-left: 180px;
}
.indent-10 {
  padding-left: 200px;
}
.indent-11 {
  padding-left: 220px;
}
.indent-12 {
  padding-left: 240px;
}
.indent-13 {
  padding-left: 260px;
}
.indent-14 {
  padding-left: 280px;
}
.indent-15 {
  padding-left: 300px;
}
.indent-16 {
  padding-left: 320px;
}
.indent-17 {
  padding-left: 340px;
}
.indent-18 {
  padding-left: 360px;
}
.indent-19 {
  padding-left: 380px;
}
.indent-20 {
  padding-left: 400px;
}
.indent-21 {
  padding-left: 420px;
}
.indent-22 {
  padding-left: 440px;
}
.indent-23 {
  padding-left: 460px;
}
.indent-24 {
  padding-left: 480px;
}
.indent-25 {
  padding-left: 500px;
}
.indent-26 {
  padding-left: 520px;
}
.indent-27 {
  padding-left: 540px;
}
.indent-28 {
  padding-left: 560px;
}
.indent-29 {
  padding-left: 580px;
}
.indent-30 {
  padding-left: 600px;
}
